@import "./quasar/index.sass";

:root {
  --primary-1: #025CB9;
  --primary-2: #004C9A;
  --primary-3: #D1E8FD;
  --grey-1: #FFFFFF;
  --grey-2: #F5F7FA;
  --grey-3: #D4DDEA
  --grey-4: #A6B1C2;
  --grey-5: #6E7686;
  --grey-6: #575E6A;
  --grey-7: #373C48;
  --grey-8: #292D36;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #fff;
  color-scheme: light;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
